.red {
    color: red;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .Button {
    border: 1px solid blue;
    padding: 16px;
    background-color: green;
    font: inherit;
    color: white;
    cursor: pointer;
  }
  
  .Button:hover {
    background-color: lightgreen;
    color: black;
  }
  
  .Button.red {
    background-color: red;
  }
  
  .Button.red:hover {
    background-color: salmon;
    color:black;
  }